@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
}
:root {
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(
        135deg,
        #000000 0%,
        #020408 25%,
        #040615 50%,
        #030a1a 75%,
        #010308 100%
    );

    background-size: cover;
    background-repeat: no-repeat;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 6rem;
    color: white;
    letter-spacing: normal;
    font-weight: 600;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;

    text-shadow:
        0 0 8px rgba(59, 130, 246, 0.5),
        0 0 16px rgba(59, 130, 246, 0.4),
        0 0 24px rgba(59, 130, 246, 0.3);

    img {
        filter: drop-shadow(0 0 8px rgba(59, 130, 246, 0.35))
            drop-shadow(0 0 16px rgba(59, 130, 246, 0.3))
            drop-shadow(0 0 24px rgba(59, 130, 246, 0.2));
    }
}

h2 {
    font-size: 8rem;
    opacity: 0.9;
    line-height: 1.1;
    filter: drop-shadow(0 0 8px rgba(59, 130, 246, 0.3))
        drop-shadow(0 0 16px rgba(59, 130, 246, 0.2))
        drop-shadow(0 0 24px rgba(59, 130, 246, 0.1)) sepia(1)
        hue-rotate(180deg);

    margin-bottom: 0;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1.3rem;
    opacity: 0.9;
    font-variant-numeric: tabular-nums;
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    margin: 0.5em;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.03em;
    border: none;
    outline: none;
    background: black;
    cursor: pointer;
    color: white;
    text-shadow:
        0 0 16px rgba(59, 130, 246, 0.4),
        0 0 24px rgba(59, 130, 246, 0.3);

    transition: opacity 0.2s ease-in-out;

    &:hover {
        transition: opacity 0.1s ease-in-out;
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }
}
