main {
    font-family: sans-serif;
}

h1 {
    padding: 8px 16px;
}

.addTodo {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 16px;
    margin-left: 24px;
}

.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.todoItem input[type="checkbox"] {
    margin-right: 8px;
}

.todoItem input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.todoItem input[type="text"]:focus {
    border-bottom: 1px solid #ccc;
}
